<div class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half-tablet">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title is-centered">
                <figure class="image is-32x32 mr-2">
                  <img src="/assets/branding/logo.png" alt="logo-inverse" routerLink="/">
                </figure>
                Administrator
              </div>
            </div>
            <div class="card-content">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" placeholder="Your email">
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="Your password">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                  </label>
                </div>
              </div>
              <div class="field is-grouped is-grouped-right">
                <div class="control">
                  <button class="button is-info is-light">Register</button>
                </div>
                <div class="control">
                  <button class="button is-info">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
