<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Drone Automation</h1>
      <p>Our robust and intuitive system allow users to get the most out of drone technology.</p>
    </div>
  </div>
</div>
