<app-header [style.display]="currentUrl === '/client/login'?'none':'block'"></app-header>
<router-outlet></router-outlet>
<app-menu [style.display]="currentUrl === '/client/login'?'none':'block'"></app-menu>
