<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Careers</h1>
      <p>We are always looking for great talent to incorporate into the team.</p>
      <div class="card mt-5" *ngFor="let job of jobs">
        <div class="card-content">
          <div class="columns">
            <div class="column is-2">
              <figure class="image is-64x64 is-96x96-mobile is-centered">
                <img class="is-rounded has-background-info" [src]="job.imgUrl" alt="Placeholder image">
              </figure>
            </div>
            <div class="column">
              <p class="title is-3">{{job.title}}</p>
              <p class="subtitle is-5">{{job.desc}}</p>
              <button class="button is-info">
                Learn more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
