<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Terms of Service</h1>
      <p>Incididunt esse deserunt minim duis pariatur proident cillum et esse.</p>
      <div class="content mt-5">
        <p>
          Incididunt esse deserunt minim duis pariatur proident cillum et esse officia dolore. Ex
          pariatur ad aliquip mollit magna velit nulla nostrud sunt pariatur. Minim Lorem elit pariatur proident
          consequat.
          In elit ipsum incididunt exercitation eu in nulla sint. Ut ut do minim ullamco. Cillum sunt sint anim sunt
          reprehenderit in incididunt ad voluptate aute ad incididunt id.Anim officia consectetur cillum id ex cupidatat
          aliquip laborum excepteur duis ex duis dolore. Ex sint veniam
          adipisicing et. Excepteur culpa adipisicing duis labore laboris pariatur commodo ut excepteur dolore.
          Incididunt
          nisi amet reprehenderit et laborum. Minim labore esse ullamco aute. Eiusmod qui do elit fugiat et ad minim
          excepteur mollit aute nulla commodo est. Dolore deserunt excepteur reprehenderit anim sint sunt. Cupidatat
          ullamco
          ut ea voluptate culpa. Proident mollit
          labore non cillum excepteur reprehenderit dolore sit et cupidatat.
        </p>
        <p class="has-text-weight-bold">
          Consectetur enim elit enim elit dolore non aute consequat incididunt aute.
        </p>
        <ul>
          <li>Ipsum enim amet minim eu irure aliquip commodo deserunt minim cupidatat cupidatat occaecat consequat.</li>
          <li>Pariatur eiusmod non sint ipsum eu proident in cillum cupidatat velit.</li>
          <li>Nostrud mollit id et reprehenderit aute.</li>
          <li>Non eiusmod ut laboris tempor adipisicing velit sit magna pariatur eu proident sunt consequat enim.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
