<nav class="navbar is-fixed-top">
  <div class="navbar-start">
    <i class="material-icons">add</i>
  </div>
  <div class="navbar-brand">
    <figure class="image is-32x32">
      <img src="/assets/branding/logo-inverse.png" alt="logo-inverse">
    </figure>
  </div>
  <div class="navbar-end">
    <i class="material-icons">edit</i>
  </div>
</nav>
