.navbar
    display: flex
    justify-content: space-between
    background-color: #c4c4c4
    .navbar-start, .navbar-brand, .navbar-end
        align-items: center
    .navbar-start, .navbar-end
        display: flex
        padding: 0 1em
    .material-icons
        color: #ffffff
    .navbar-start>.material-icons
        font-size: 2em
    .navbar-end>.material-icons
        font-size: 1.5em
