.card
    margin-bottom: .5rem
.card-content
    ul
        li
            display: flex
            flex-direction: row
            flex: 1
            justify-content: space-between
    .list-value
        font-weight: bold
