<div class="card">
  <div class="card-header">
    <p class="card-header-title">My Device Name</p>
    <span class="card-header-icon" (click)="toggleCard()">
      <span class="icon">
        <i class="material-icons" *ngIf="isOnline">toggle_on</i>
        <i class="material-icons" *ngIf="!isOnline">toggle_off</i>
      </span>
    </span>
    <span class="card-header-icon" routerLink="/client/dashboard/device-details/{{deviceId}}">
      <span class="icon">
        <i class="material-icons">navigate_next</i>
      </span>
    </span>
  </div>
  <div class="card-content">
    <ul>
      <li>
        <span class="list-label">Total travel distance</span>
        <span class="list-value">1200m</span>
      </li>
      <li>
        <span class="list-label">Number of checkpoints</span>
        <span class="list-value">10</span>
      </li>
      <li>
        <span class="list-label">Number of activities</span>
        <span class="list-value">25</span>
      </li>
    </ul>
  </div>
</div>
