<nav class="navbar is-fixed-bottom">
  <div class="navbar-start">
    <div routerLink="/client/dashboard" routerLinkActive="is-active" class="navbar-item">
      <i class="material-icons">home</i>
      <span class="navbar-item-label">Home</span>
    </div>
    <div routerLink="/client/events" routerLinkActive="is-active" class="navbar-item">
      <i class="material-icons">videocam</i>
      <span class="navbar-item-label">Events</span>
    </div>
    <div routerLink="/client/reports" routerLinkActive="is-active" class="navbar-item">
      <i class="material-icons">insert_chart</i>
      <span class="navbar-item-label">Reports</span>
    </div>
    <div routerLink="/client/shop" routerLinkActive="is-active" class="navbar-item">
      <i class="material-icons">shopping_basket</i>
      <span class="navbar-item-label">Shop</span>
    </div>
    <div routerLink="/client/account" routerLinkActive="is-active" class="navbar-item">
      <i class="material-icons">account_circle</i>
      <span class="navbar-item-label">Account</span>
    </div>
  </div>
</nav>
