.navbar
    bottom: 0
    display: flex
    justify-content: space-between
    background-color: #c4c4c4
    .navbar-start, .navbar-brand, .navbar-end
        align-items: center
    .navbar-start, .navbar-end
        display: flex
        padding: 0 1em
        flex: 1
        justify-content: space-between
        .navbar-item
            display: flex
            flex-direction: column
            align-items: center
            color: #707070
            outline: none
            .material-icons
                font-size: 1.5rem
            .navbar-item-label
                font-size: 8px
        .is-active
            color: #ffffff
