.footer
    background-color: #000000
    .image
        margin: 0px auto
        margin-bottom: 2rem
        cursor: pointer
    img:focus
        outline: none
    a
        color: hsl(0, 0%, 96%)
.copy
    margin-top: 4rem
