<footer class="footer">
  <div class="container">
    <figure class="image is-32x32">
      <img src="/assets/branding/logo-inverse.png" alt="logo-inverse" routerLink="/">
    </figure>
    <div class="columns has-text-centered-mobile">
      <div class="column">
        <h3 class="is-size-5 has-text-info has-text-weight-bold">Company</h3>
        <a routerLink="/about">
          <p>About</p>
        </a>
        <a routerLink="/product">
          <p>Product</p>
        </a>
        <a routerLink="/news">
          <p>News</p>
        </a>
        <a routerLink="/career">
          <p>Career</p>
        </a>
      </div>
      <div class="column">
        <h3 class="is-size-5 has-text-info has-text-weight-bold">Resources</h3>
        <a routerLink="/customer-support">
          <p>Customer Support</p>
        </a>
        <a routerLink="/contact-us">
          <p>Contact Us</p>
        </a>
      </div>
      <div class="column">
        <h3 class="is-size-5 has-text-info has-text-weight-bold">Log In</h3>
        <a routerLink="/client/login">
          <p>Client Dashboard</p>
        </a>
        <a routerLink="/admin/login">
          <p>Admin</p>
        </a>
      </div>
      <div class="column">
        <h3 class="is-size-5 has-text-info has-text-weight-bold">Legal</h3>
        <a routerLink="/privacy-policy">
          <p>Privacy Policy</p>
        </a>
        <a routerLink="/terms-of-service">
          <p>Terms of Service</p>
        </a>
        <a routerLink="/responsible-disclosure">
          <p>Responsible Disclosure</p>
        </a>
      </div>
    </div>
    <p class="copy is-size-7 has-text-centered has-text-light">COPYRIGHT &copy; 2020 RAVEN, INC. ALL RIGHTS RESERVED</p>
  </div>
</footer>
