.main
    // height: 30rem
    height: 100vh
    background-image: url('/assets/main-bg.jpg')
    background-position: center
    background-size: cover
    .title
        padding: 2rem
        padding-top: 60vh
        p
            padding-top: 1rem
        div
            padding-top: 6vh
.vision, .solutions, .news, .contact-us
    padding: 5rem 2rem
.solutions
    padding-top: 0
    >.title
        margin-bottom: 2rem
    figure
        margin-bottom: 2rem
.news
    figure
        margin-bottom: 1rem
.columns
    .column
        figure
            background-position: center
            background-size: cover
        figure.inspections
            background-image: url('/assets/inspection.jpg')
        figure.surveillance
            background-image: url('/assets/surveillance.jpg')
        figure.monitoring
            background-image: url('/assets/monitoring.jpg')
        figure.delivery
            background-image: url('/assets/delivery.jpg')
.contact-us
    button
        margin-top: 1rem
.icon
    cursor: pointer
.progress
    border-radius: 0
