<div class="main">
  <!-- <app-header></app-header> -->
  <div class="title container">
    <h1 class="is-size-1 is-size-3-mobile has-text-weight-bold">
      AI-Driven Drone Provider
    </h1>
    <p class="is-size-3 is-size-5-mobile has-text-weight-medium">
      Automated Inspection, Surveillance, Monitoring and Delivery
    </p>
    <div class="has-text-centered">
      <span class="icon" (click)="scrollTo(more)">
        <i class="material-icons">expand_more</i>
      </span>
    </div>
  </div>
</div>

<div class="container" #more>
  <div class="vision">
    <h3 class="is-size-3 is-size-4-mobile has-text-weight-bold">
      We believe that the drone-based application should be simple and automated
    </h3>
    <p class="is-size-4 is-size-5-mobile has-text-weight-normal">
      That's why we developed robust and intuitive system for customer to
      perform their task easier, assisted with AI to make it efficient and
      effective.
    </p>
  </div>

  <div class="solutions">
    <h1 class="title is-size-1 is-size-3-mobile">
      Our Solutions
    </h1>
    <div class="columns">
      <div class="column">
        <figure class="image is-1by2 inspections"></figure>
        <div class="content">
          <h3 class="is-size-3 is-size-4-mobile title">
            Inspection
          </h3>
          <ul class="is-size-5">
            <li>Critical structural inspections</li>
            <li>End of warranty audit</li>
            <li>AI driven defect detection</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <figure class="image is-1by2 surveillance"></figure>
        <div class="content">
          <h3 class="is-size-3 is-size-4-mobile title">
            Surveillance
          </h3>
          <ul class="is-size-5">
            <li>Automated surveillance flight path</li>
            <li>AI driven changes in path detection</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <figure class="image is-1by2 monitoring"></figure>
        <div class="content">
          <h3 class="is-size-3 is-size-4-mobile title">
            Monitoring
          </h3>
          <ul class="is-size-5">
            <li>Run monitoring activities on determined check point</li>
            <li>
              Detect and reporting progress of the project based on milestone
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <figure class="image is-1by2 delivery"></figure>
        <div class="content">
          <h3 class="is-size-3 is-size-4-mobile title">
            Delivery
          </h3>
          <ul class="is-size-5">
            <li>
              Perform quick delivery task within medium range for light payload
            </li>
            <li>Real time delivery tracking</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="news">
    <h1 class="title is-size-1 is-size-3-mobile">
      Latest News
    </h1>
    <div class="columns is-multiline">
      <div class="column is-one-third-tablet" *ngIf="articles.length == 0">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3 is-loading">
              <img [src]="'https://bulma.io/images/placeholders/128x128.png'" alt="Placeholder image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="is-size-4">
                <progress class="progress" max="100">30%</progress>
              </h3>
              <p class="is-size-5">
                <progress class="progress is-small" max="100">30%</progress>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third-tablet" *ngFor="let article of articles">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3 is-loading">
              <img *ngIf="articles.length > 0" [src]="article.urlToImage" [alt]="article.title" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a [href]="article.url" target="_blank">
                <h3 class="is-size-4 block-with-text">
                  {{ article.title }}
                </h3>
              </a>
              <time>
                {{ article.publishedAt | date: "d MMMM y" }}
              </time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-us has-background-info has-text-centered">
  <h1 class="is-size-3 is-size-4-mobile has-text-weight-bold has-text-white">
    Explore our drone solutions with just one click
  </h1>
  <button class="button is-white has-text-weight-bold" routerLink="/contact-us">Contact Us</button>
</div>
