<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Responsible Disclosure</h1>
      <div class="content mt-5">
        <h3>
          Guidelines
        </h3>
        <p>
          We take the security of our systems seriously, and we value the security community. The responsible disclosure
          of
          security vulnerabilities helps us ensure the security and privacy of our users.
        </p>
        <p>
          We require that all researchers:
        </p>
        <ul>
          <li>Make every effort to avoid privacy violations, degradation of user experience, disruption to production
            systems, and destruction of data during security testing;</li>
          <li>Perform research only within the scope set out below;</li>
          <li>Use the identified communication channels to report vulnerability information to us; and</li>
          <li>Keep information about any vulnerabilities you’ve discovered confidential between yourself and AirMap
            until
            we’ve had 90 days to resolve the issue.</li>
          <li>If you follow these guidelines when reporting an issue to us, we commit to:</li>
          <li>Not pursue or support any legal action related to your research;</li>
          <li>Work with you to understand and resolve the issue quickly (including an initial confirmation of your
            report
            within 72 hours of submission).</li>
        </ul>
        <h3>
          Scope
        </h3>
        <ul>
          <li>www.raven.com</li>
          <li>api.raven.com</li>
          <li>app.raven.com</li>
        </ul>
        <h3>
          Out of Scope
        </h3>
        <p>
          Any services hosted by 3rd party providers and services are excluded from scope. These services include, but
          are
          not limited to:
        </p>
        <ul>
          <li>Mapbox</li>
          <li>Google Services (analytics, search)</li>
          <li>Firebase</li>
        </ul>
        <p>
          In the interest of the safety of our users, staff, the Internet at large and you as a security researcher, the
          following test types are excluded from scope:
        </p>
        <ul>
          <li>Findings from physical testing such as office access (e.g. open doors, tailgating)</li>
          <li>Findings derived primarily from social engineering (e.g. phishing, vishing)</li>
          <li>Findings from applications or systems not listed in the ‘Scope’ section</li>
          <li>UI and UX bugs and spelling mistakes</li>
          <li>Network level Denial of Service (DoS/DDoS) vulnerabilities</li>
        </ul>
        <p>Things we do not want to receive:</p>
        <ul>
          <li>Personally identifiable information (PII)</li>
          <li>Credit card holder data</li>
        </ul>
        <h3>
          How to Report a Security Vulnerability?
        </h3>
        <p>
          If you believe you’ve found a security vulnerability in one of our products or platforms please
          send it to us by emailing security@raven.com. Please include the following details with your report:
        </p>
        <ul>
          <li>Description of the location and potential impact of the vulnerability;</li>
          <li>A detailed description of the steps required to reproduce the vulnerability (POC scripts, screenshots, and
            compressed screen captures are all helpful to us)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
