<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">About Us</h1>
      <p class="is-size-4">
        We measure success in missions flown, airspace opened, and drone businesses enabled by our
        products.
      </p>
      <div class="content mt-6">
        <p>In 2019, we celebrated:</p>
        <div class="columns is-multiline">
          <div class="column  is-one-third-tablet is-one-quarter-widescreen">
            <h2>120K+</h2>
            <p class="is-size-5">Id deserunt incididunt irure do.</p>
          </div>
          <div class="column  is-one-third-tablet is-one-quarter-widescreen">
            <h2>120K+</h2>
            <p class="is-size-5">Id deserunt incididunt irure do.</p>
          </div>
          <div class="column  is-one-third-tablet is-one-quarter-widescreen">
            <h2>120K+</h2>
            <p class="is-size-5">Id deserunt incididunt irure do.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="has-background-black has-text-light">
  <div class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-middled">
            <p class="is-size-4 mb-2">Global Presence</p>
            <p>
              Commodo adipisicing laborum nisi cillum irure fugiat. Officia do occaecat aliquip nulla laborum dolor
              magna
              eu qui sunt. Pariatur Lorem pariatur deserunt officia. Esse ullamco esse deserunt aliquip cupidatat minim
              nostrud do fugiat voluptate aliqua. Consectetur Lorem cillum ipsum adipisicing anim laboris proident magna
              nisi enim nisi.
            </p>
          </div>
          <div class="column">
            <figure class="image is-5by4">
              <img src="/assets/branding/map.png" alt="map">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-size-3 mb-3">Board of Directors</h1>
      <div class="columns is-multiline">
        <div class="column is-one-fifth">
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/256x256.png">
          </figure>
          <p class="is-size-5 has-text-weight-bold">Name</p>
          <p class="is-size-6">Position</p>
          <p class="is-size-6">Company</p>
        </div>
      </div>
      <h1 class="is-size-3 mb-3 mt-6">Advisory Board</h1>
      <div class="columns is-multiline">
        <div class="column is-one-fifth">
          <p class="is-size-5 has-text-weight-bold">Name</p>
          <p class="is-size-6">Position</p>
          <p class="is-size-6">Company</p>
        </div>
      </div>
      <h1 class="is-size-3 mb-3 mt-6">Investment Partner</h1>
      <div class="columns is-multiline">
        <div class="column is-one-fifth">
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/256x256.png">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="has-background-info">
  <div class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="contact-us has-text-light">
          <div class="columns">
            <div class="column">
              <h1 class="is-size-3 is-size-4-mobile has-text-white">
                Discover our solutions in drone based application for all stakeholders.
              </h1>
            </div>
            <div class="column is-one-fifth is-middled">
              <button class="button is-white has-text-weight-bold is-fullwidth" routerLink="/contact-us">Contact
                Us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
