<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Our Products</h1>
      <p>We provide multiple range of services and products to meet your requirement or budget.</p>
      <div class="card mt-5" *ngFor="let product of products | keyvalue">
        <div class="card-content">
          <div class="columns">
            <div class="column is-3" [ngClass]="{'is-hidden-desktop ': product.key%2 !== 0}">
              <figure class="image is-1by1" [style.background-image]="'url('+product.value.imgUrl+')'"
                style="background-position: center;background-size: cover;"></figure>
            </div>
            <div class="column is-middled" [ngClass]="{'has-text-right-desktop ': product.key%2 !== 0}">
              <p class="title is-4 is-5-mobile">
                {{product.value.title}}
              </p>
              <p class="subtitle is-5 is-6-mobile">
                {{product.value.desc}}
              </p>
            </div>
            <div class="column is-3 is-hidden-mobile" [ngClass]="{'is-hidden-desktop': product.key%2 === 0}">
              <figure class="image is-1by1" [style.background-image]="'url('+product.value.imgUrl+')'"
                style="background-position: center;background-size: cover;"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
