<nav class="navbar" [class.nav-transparent]="currentUrl === '/'">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">
        <img src="/assets/branding/logo.png" alt="logo" />
      </a>
      <a class="navbar-burger {{ isActiveMenu ? 'is-active' : '' }}" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="navbar-menu {{ isActiveMenu ? 'is-active' : '' }}">
      <div class="navbar-start">
        <a routerLink="/about" routerLinkActive="is-active" class="navbar-item has-text-weight-medium">About</a>
        <a routerLink="/product" routerLinkActive="is-active" class="navbar-item has-text-weight-medium">Product</a>
        <a routerLink="/news" routerLinkActive="is-active" class="navbar-item has-text-weight-medium">News</a>
        <a routerLink="/career" routerLinkActive="is-active" class="navbar-item has-text-weight-medium">Career</a>
      </div>
      <div class="navbar-end">
        <a routerLink="/client/login" class="navbar-item has-text-weight-medium login">Login</a>
      </div>
    </div>
  </div>
</nav>
