<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">News</h1>
      <p>Design. Engineering. Lessons learned on our journey.</p>

      <div class="news columns is-multiline mt-5">
        <div class="column is-one-third-tablet is-one-quarter-widescreen" *ngIf="articles.length == 0">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img [src]="'https://bulma.io/images/placeholders/128x128.png'" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h3 class="is-size-4">
                  <progress class="progress" max="100">30%</progress>
                </h3>
                <p class="is-size-5">
                  <progress class="progress is-small" max="100">30%</progress>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen" *ngFor="let article of articles">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img [src]="article.urlToImage" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a [href]="article.url" target="_blank">
                  <h3 class="is-size-4 block-with-text">
                    {{ article.title }}
                  </h3>
                </a>
                <time>{{ article.publishedAt | date: "d MMMM y" }}</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
