/* You can add global styles to this file, and also import other style files */
$cyan: #529BC6
$family-sans-serif: Roboto
$border-radius: 4px

@import '../node_modules/typeface-roboto/index.css'
@import '../node_modules/bulma/bulma.sass'

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/'
@import '~material-design-icons-iconfont/src/material-design-icons'

.is-centered
    margin: 0 auto
.is-middled
    margin: auto 0

.block-with-text
    overflow: hidden
    position: relative
    max-height: 3.4em
    text-align: justify
    margin-right: 0em
    padding-right: 1em

.block-with-text:before
    content: '...'
    position: absolute
    right: 0
    bottom: 0

.block-with-text:after
    content: ''
    position: absolute
    right: 0
    width: 1em
    height: 1em
    margin-top: 0.2em
    background: white
.news
    .card-content
        min-height: 12rem
        time
            position: absolute
            bottom: 2rem

@media(max-width: 1023px)
    .login
        color: #529BC6

.content ul
    margin-left: 1em

.card
    border-radius: $border-radius
.card img
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius
.client-container
    margin: 3.5rem auto
