<div class="client-container">
  <div class="search-bar">
    <div class="card">
      <div class="card-content" style="padding: 1rem">
        <div class="field">
          <div class="control">
            <input class="input" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" >
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="position-list">
    <div class="columns is-mobile">
      <div class="column is-half is-one-quarter-tablet">
        <app-card></app-card>
      </div>
      
      <div class="column is-half is-one-quarter-tablet">
        <app-card></app-card>
      </div>
      
      <div class="column is-half is-one-quarter-tablet">
        <app-card></app-card>
      </div>
      
    </div>
  </div>
</div>
