agm-map
    height: 85vh
.search-bar, .position-list
    position: absolute
    z-index: 10
    padding: 0 1rem
    width: 100%
.search-bar
    top: 4rem
.position-list
    bottom: 4rem
    overflow-x: auto
    overflow-y: hidden
    padding-bottom: 1rem