<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact Us</h1>
      <p>Have a question? Whether about our solutions, our product, or our people, we want to hear from you.</p>
      <form [formGroup]="contactUsForm">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Your name" formControlName="name">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text" placeholder="Your contact email" formControlName="email">
          </div>
        </div>
        <div class="field">
          <label class="label">Subject of your enquiry</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select formControlName="subject">
                <option [ngValue]="null">Select option</option>
                <option [ngValue]="1">General Enquiries</option>
                <option [ngValue]="2">Account & Security</option>
                <option [ngValue]="3">Product Content & Legal</option>
                <option [ngValue]="4">Web & App Performance</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" placeholder="Tell us more about it" formControlName="message"></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="tnc">
              I agree to the <a routerLink="/privacy-policy" target="_blank">terms and conditions</a>
            </label>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
