<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 has-text-centered">
        Hi, how can we help?
      </h1>
      <div class="field mb-5">
        <div class="control">
          <input class="search input is-large is-fullwidth" type="text" placeholder="Search...">
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-widescreen">
          <a class="button is-outlined is-info is-fullwidth">
            <p>Tempor labore qui enim labore.</p>
            <p>Mollit veniam est labore elit nostrud excepteur fugiat magna cillum non.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
